@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Comic Neue';
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

button{
    width: 200px;
    height: 200px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scoring{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}